html, body {
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.app {
  font-size: 1.6rem;

  &__container {
    padding: 0 2.5rem;
  }
}

div, header, footer, section, article {
  box-sizing: border-box;
}

@import '../components/Header';
@import './main/main';
@import './project/project';
