@import '~bulma/bulma';

body {
  margin: 0;
  padding: 0;
}

.app {
  &__container {
    padding: 0 1.5rem;
  }
}

div, header, footer, section, article {
  box-sizing: border-box;
}

@import '../components/Header';
@import './main/main';
@import './project/project';
