.header {
  display: flex;
  padding: 1rem 2.5rem;
  height: 8rem;
  background: #eee;
  border-bottom: 1px solid #000;
  margin-bottom: 2rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
